<!-- allPosts.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Posts</title>

  <style>
    body {
      font-family: 'Arial', sans-serif;
      width: 50%;
      margin: auto;
      padding: 0;
      background-color: #f4f4f4;
    }

    h1 {
      color: #333;
    }

    div {
      background-color: #fff;
      border: 1px solid #ddd;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #333;
    }

    p {
      color: #666;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-top: 10px;
    }
  </style>
</head>
<body>
    <%- include('header') %>
  <h1>All Posts</h1>

  <% posts.forEach(post => { %>
    <div>
      <h2><%= post.title %></h2>
      <p><%= post.caption %></p>
      <p>Posted by <%= post.user.displayName %></p>
      <img src="<%= post.image %>" alt="Post Image">
      <p>Tags: <%= post.tags.join(', ') %></p>
      <p>Likes: <%= post.like %></p>
      <p>Created at: <%= post.create_at.toDate().toLocaleDateString() %></p>
      <p>Updated at: <%= post.update_at.toDate().toLocaleDateString() %></p>
    </div>
  <% }); %>

</body>
</html>
